<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SD-WAN DevOps</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script>
  $(document).ready(function(){
      //connect to the socket server.
      socket = io.connect();
	  console.log(socket)
	  console.log(document.domain)
	  console.log(location.port)
      socket.on('newmessage', function(msg) {
      console.log("Received number: " + msg.message);
      message = msg.message + '<br>'
      $('#output').append(message);
      });
      socket.on('viewconfig', function(msg) {
      console.log("Received number: " + msg.message);
      message = msg.message + '<br>'
      $('#output').html(message);
      });
      });
      function myFunction() {
      let site = document.getElementById("site").value;
      console.log("form data is", site);
      socket.emit("view", { site: site })
      }
  </script>
</head>
<body>
  <header class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="../static/img/prisma-sd-wan.jpeg" alt="Prisma SD-WAN" />SD-WAN DevOps
    </div>
    <ul class="navbar__navigation">
      <li class="navbar__navigation-item">
        <div class="dropdown">
          <a class="navbar__link">Home</a>
          <div class="dropdown-content">
            <a href="home">Home</a>
            <a href="token-help">Token Help</a>
            <a href="custom-tools">Custom Tools</a>
          </div>
        </div>
      </li>
      <li class="navbar__navigation-item">
      <div class="dropdown">
        <a class="navbar__active">Deploy</a>
        <div class="dropdown-content">
          <a href="make">Make</a>
          <a href="update">Update</a>
          <a href="build">Build</a>
          <a href="deploy">Deploy</a>
          <a href="delete">Delete</a>
          <a href="backup">Backup</a>
        </div>
      </div>
      </li>
      <li class="navbar__navigation-item">
      <div class="dropdown">
        <a class="navbar__link">Tools</a>
        <div class="dropdown-content">
          <a href="lqm-all-apps">LQM All Apps</a>
          <a href="vpnmesh">VPN Mesh</a>
        </div>
      </div>
      </li>
      <li class="navbar__navigation-item">
        <a href="profile" class="navbar__link">Profile</a>
      </li>
    </ul>
  </header>
  <main class="main">
    <div class="flex-container">
      <div class="flex-child-left">
        <h3>Deploy</h3>
        {% if token_check %}
        <p class="card"><b>Token Check:</b> <span class="green-warning"> {{ token_check }} </span></p>
        {% else %}
        <p class="card"><b>Token Check:</b> <span class="red-warning"> {{ token_check }} </span></p>
        {% endif %}
        {% if tenant %}
        <p class="card"><b>Tenant Name:</b> {{ tenant }} </p>
        {% endif %}
        <p class="card">Please select a site file to deploy. Your can either upload them or build them via our tools.</p>
        {% if message %}
          {% if error %}
            <p class="red-warning">{{ message }}</p>
            {% else %}
            <p class="green-warning">{{ message }}</p>
            {% endif %}
        {% endif %}
        <div>
          <h4>Upload Build</h4>
          <form action="/deploy" method="post" enctype="multipart/form-data">
          <div>
            <input type="file" name="file">
          </div>
            <button type="submit_deploy" class="form__submit" data-inline="true" name="upload">Upload</button>
          </form>
        </div>
        <div>
          <h4>Choose Build</h4>
          <form action="/deploy" method="post" enctype="multipart/form-data">
          <div class=input>
              <label class="input_label_build">Build List:</label>
  	          <select class="list_build" name="build_list" id="site">
                {% for item in build_list %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
  	           </select>
          </div>
            <button type="button" class="form__submit" data-inline="true" name="view" onclick="myFunction()">View</button>
            <button type="submit_deploy" class="form__submit" data-inline="true" name="deploy">Deploy</button>
          </form>
        </div>
      </div>
      <div class="flex-child-right">
        <h3>Console Output</h3>
        {% if view %}
        <div class="logging_window_top">
          <pre class="pre" id="output"></pre>
        </div>
        {% else %}
        <div class="logging_window">
          <pre class="pre" id="output"></pre>
        </div>
        {% endif %}
          <form action="/deploy" method="post">
          <div>
            <button type="submit" class="form__cancel_output" name="cancel">Cancel</button>
            <button type="submit" class="form__submit_output" name="download">Download Log</button>
          </div>
          <div>
          </div>
        </form>
      </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__content">
      <section class="left">
        <a class="footer__item" href="mailto:{{ support }}">Contact</a>
      </section>
      <section class="right">
        <div class="footer__column">
          <a class="footer__item" href="log_out">Log Out</a>
        </div>
      </section>
    </div>
  </footer>
</body>
</html>
