<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SD-WAN DevOps</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
  <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">
</head>
<body>
  <header class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="../static/img/prisma-sd-wan.jpeg" alt="Prisma SD-WAN" />SD-WAN DevOps
    </div>
    <ul class="navbar__navigation">
      <li class="navbar__navigation-item">
      <div class="dropdown">
        <a href="home" class="navbar__active">Home</a>
        <div class="dropdown-content">
          <a href="home">Home</a>
          <a href="token-help">Token Help</a>
          <a href="custom-tools">Custom Tools</a>
        </div>
      </div>
      </li>
      <li class="navbar__navigation-item">
      <div class="dropdown">
        <a class="navbar__link">Deploy</a>
        <div class="dropdown-content">
          <a href="make">Make</a>
          <a href="update">Update</a>
          <a href="build">Build</a>
          <a href="deploy">Deploy</a>
          <a href="delete">Delete</a>
          <a href="backup">Backup</a>
        </div>
      </div>
      </li>
      <li class="navbar__navigation-item">
      <div class="dropdown">
        <a class="navbar__link">Tools</a>
        <div class="dropdown-content">
          <a href="lqm-all-apps">LQM All Apps</a>
          <a href="vpnmesh">VPN Mesh</a>
        </div>
      </div>
      </li>
      <li class="navbar__navigation-item">
        <a href="profile" class="navbar__link">Profile</a>
      </li>
    </ul>
  </header>
  <main class="main">
    <div class="flex-container">
      <div class="flex-child-left">
        <h1 class="file">Steps To Setup Auth Token</h1>
        <ol class="token_setup">
          <li class="token_list">Login to the <a href="https://portal.cloudgenix.com" target="_blank">Prisma SD-WAN</a> Portal</li>
          <li class="token_list">Select User Administration and click the pencil to edit your account</li>
          <li class="token_list">On your profile disable "IP SESSION LOCK" (botton left image)</li>
          <li class="token_list">If you are a Palo Alto Network Employee using your corporate account you must add "0.0.0.0/0" in IP/PREFIX ACCESS LIST</li>
          <li class="token_list">Select System Administration at the top right</li>
          <li class="token_list">Select AUTH TOKENS and generate a token (bottom right image)</li>
          <li class="token_list">Insert your AUTH TOKEN here</li>
        </ol>
      </div>
      <div class="flex-child-right1" style="margin-left: 100px; margin-top:50px">
        <p class="card"><b>Current Auth Token:</b> {{ auth }} </p>
        {% if token_check %}
        <p class="card"><b>Token Check:</b> <span class="green-warning"> {{ token_check }} </span></p>
        {% else %}
        <p class="card"><b>Token Check:</b> <span class="red-warning"> {{ token_check }} </span></p>
        {% endif %}
        {% if tenant %}
        <p class="card"><b>Tenant Name:</b> {{ tenant }} </p>
        {% endif %}
        <form action="/home" method="post">
        <div class="input ">
        <input class="user_input" name="auth-token" placeholder="Update Auth Token" required='required' type="text">
        </div>
        <div>
        <button type="submit" class="form__submit" name="auth">Save</button>
        </div>
        </form>
        <form action="/profile" method="post">
      </div>
    </div>
    <div class="flex-container">
      <div class="flex-child-left">
      <img src="../static/img/account.png" class="img_token"/>
      </div>
      <div class="flex-child-right1">
      <img src="../static/img/token.png" class="img_token"/>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__content">
      <section class="left">
        <a class="footer__item" href="mailto:{{ support }}">Contact</a>
      </section>
      <section class="right">
        <div class="footer__column">
          <a class="footer__item" href="log_out">Log Out</a>
        </div>
      </section>
    </div>
  </footer>
</body>
</html>
