<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SD-WAN DevOps</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
  <link rel="stylesheet" href="../static/css/1intlTelInput.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>
<body>
  <header class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="/static/img/prisma-sd-wan.jpeg" alt="Prisma SD-WAN" />SD-WAN DevOps
    </div>
    <ul class="navbar__navigation">
      <li class="navbar__navigation-item">
        <a href="admin" class="navbar__active">Admin</a>
      </li>
    </ul>
  </header>
  <main class="main">
  <div class="flex-container">
    <div class="flex-child-left">
      <h1 class="user">User Management</h1>
      {% if message %}
      <div class="message">
        {% if error == True %}
          <p class="red-warning">{{ message }}</p>
        {% else %}
          <p class="green-warning">{{ message }}</p>
        {% endif %}
      </div class="message">
      {% endif %}
      <div class="user-manager">
        <div>
        <label>Users</label>
      </div>
          <form action="/admin" method="post">
          <select class="list flex-child-left" id="user_list" name="selected_user">
            {% for item in user_list %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
           </select>
           <div>
             <button type="submit_deploy" class="form__submit" data-inline="true" name="reset">Reset PW</button>
             <button type="submit_deploy" class="form__delete" data-inline="true" name="delete">Delete</button>
          </div>
           </form>
         </div>
		 <p><b>Registration Locked:</b> {{ reg_status }} </p>
         <h1 class="user">Lock Registration</h1>
         <div class="user-manager">
           <form action="/admin" method="post">
            <div>
              <button type="submit_deploy" class="form__submit" data-inline="true" name="unlock">Unlock</button>
              <button type="submit_deploy" class="form__delete" data-inline="true" name="lock">Lock</button>
           </div>
            </form>
         </div>
    </div>
  </div>
</main>
  <footer class="footer">
    <div class="footer__content">
      <section class="left">
        <a class="footer__item" href="mailto:{{ support }}">Contact</a>
      </section>
      <section class="right">
        <div class="footer__column">
          <a class="footer__item" href="log_out">Log Out</a>
        </div>
      </section>
    </div>
  </footer>
</body>
</html>
