<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SD-WAN DevOps</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
  <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">
</head>
<body>
  <header class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="../static/img/prisma-sd-wan.jpeg" alt="Prisma SD-WAN">SD-WAN DevOps
    </div>
    <ul class="navbar__navigation">
      <li class="navbar__navigation-item">
        <a href="login" class="navbar__link">Login</a>
      </li>
    </ul>
  </header>
  <main class="main">
    <div class="flex-container">
      <div class="flex-child-left">
        <h1 class="file">Welcome</h1>
        <p class="homecard"><br>
          Network APIs allow engineers to harness the full power of today’s SDN, enabling you to build apps that are native to a Cloud-centric, on-demand world. Meaning the possiblities are endless for how we can interact with solutions to acomplish different tasks. This program is designed to show you whats possible using Palo Alto Networks Prisma SD-WAN API. Register <a href="login">here</a> and if you have any questions please let us <a href="mailto:{{ support }}">know</a> or contact your Palo Alto Networks SE for a demonstration.</p>
      </div>
      <div class="flex-child-right1">
        <iframe width="500" height="315" src="https://www.youtube.com/embed/Ufp6YDGPCUY"></iframe>
      </div>
    </div>
    <div class="flex-container">
      <img src="../static/img/devopshome.jpg" class="mainbackground"/>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__content">
      <section class="left">
        <a class="footer__item" href="mailto:{{ support }}">Contact</a>
      </section>
      <section class="right">
        <div class="footer__column">
          <a class="footer__item" href="login">Log In</a>
        </div>
      </section>
    </div>
  </footer>
</body>
</html>
