<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SD-WAN DevOps</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
  <link rel="stylesheet" href="../static/css/1intlTelInput.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>
<body>
  <header class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="/static/img/prisma-sd-wan.jpeg" alt="Prisma SD-WAN" />SD-WAN DevOps
    </div>
    <ul class="navbar__navigation">
      <li class="navbar__navigation-item">
        <div class="dropdown">
          <a class="navbar__link">Home</a>
          <div class="dropdown-content">
            <a href="home">Home</a>
            <a href="token-help">Token Help</a>
            <a href="custom-tools">Custom Tools</a>
          </div>
        </div>
      </li>
      <li class="navbar__navigation-item">
      <div class="dropdown">
        <a class="navbar__link">Deploy</a>
        <div class="dropdown-content">
          <a href="make">Make</a>
          <a href="update">Update</a>
          <a href="build">Build</a>
          <a href="deploy">Deploy</a>
          <a href="delete">Delete</a>
          <a href="backup">Backup</a>
        </div>
      </div>
      </li>
      <li class="navbar__navigation-item">
      <div class="dropdown">
        <a class="navbar__link">Tools</a>
        <div class="dropdown-content">
          <a href="lqm-all-apps">LQM All Apps</a>
          <a href="vpnmesh">VPN Mesh</a>
        </div>
      </div>
      </li>
      <li class="navbar__navigation-item">
        <a href="profile" class="navbar__active">Profile</a>
      </li>
    </ul>
  </header>
  <main class="main">
  <div class="flex-container">
    <div class="flex-child-left">
        <div>
        <h1> {{ name }} </h1>
        {% if profile_message %}
        <div class="message">
          {% if profile_error == True %}
            <p class="red-warning">{{ profile_message }}</p>
          {% else %}
            <p class="green-warning">{{ profile_message }}</p>
          {% endif %}
        </div class="message">
        {% endif %}
        <p><b>Email:</b> {{ username }} </p>
        </div>
        <form action="/profile" method="post">
        <h3> Update Password </h3>
        <div class="input">
        <input class="user_input" name="password" placeholder="Password (min 6 characters)" required='required' type="password" name="password">
        </div>
        <div class="input">
        <input class="user_input" name="confirmpassword" placeholder="Confirm Password" required='required' type="password" name="confirmpassword">
        </div>
        <button type="submit" class="form__submit" name="password">Save</button>
        </form>
        <form action="/profile" method="post">
        <h3> Refresh Tenant Info</h3>
        <button type="submit" class="form__submit" name="refresh">Refresh</button>
        </form>
    </div>
    <div class="flex-child-right1">
      <h1 class="file">File Manager</h1>
      {% if message %}
      <div class="message">
        {% if error == True %}
          <p class="red-warning">{{ message }}</p>
        {% else %}
          <p class="green-warning">{{ message }}</p>
        {% endif %}
      </div class="message">
      {% endif %}
      <div class="file-manager">
        <div>
        <label>Stored Files</label>
      </div>
          <form action="/profile_files" method="post">
          <select class="list flex-child-left" id="build_file" name="selected_file">
            {% for item in files %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
           </select>
           <div>
             <button type="submit_deploy" class="form__submit" data-inline="true" name="download">Download</button>
             <button type="submit_deploy" class="form__delete" data-inline="true" name="delete">Delete</button>
          </div>
           </form>
         </div>
         <h1 class="file">Documentation</h1>
         <div class="file-manager">
           <div>
           <label>SDK Versions</label>
           <ul class="content">
            <li>CloudGenix/sdk-python = 6.2.2b1</li>
            <li>CloudGenix/cloudgenix_config = 2.0.0b1</li>
           </ul>
           </div>
         </div>
    </div>
  </div>
</main>
  <footer class="footer">
    <div class="footer__content">
      <section class="left">
        <a class="footer__item" href="mailto:{{ support }}">Contact</a>
      </section>
      <section class="right">
        <div class="footer__column">
          <a class="footer__item" href="log_out">Log Out</a>
        </div>
      </section>
    </div>
  </footer>
</body>
</html>
