<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SD-WAN DevOps</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script>
  $(document).ready(function(){
      //connect to the socket server.
      socket = io.connect();

      socket.on('newmessage', function(msg) {
      console.log("Received number: " + msg.message);
      message = msg.message + '<br>'
      $('#output').html(message);
      });
      socket.on('newvariable', function(msg) {
      console.log("Received number: " + msg.message);
      message = msg.message + '<br>'
      $('#variable_status').html(message);
      });
      });
      function myFunction() {
        var div = document.getElementById("output");
        document.getElementById("confirm_input").value = "";
        selectedText = window.getSelection().toString();
        if (selectedText == "") {
          error = '<span class="red-warning">Error:</span> Please select some text'
          $('#variable_status').html(error);
        }
        else {
          document.getElementById('id_confrmdiv').style.display="block";
          sel = window.getSelection();
          var range = sel.getRangeAt(0);
          var precedingRange = document.createRange();
          precedingRange.setStartBefore(div.firstChild);
          precedingRange.setEnd(range.startContainer, range.startOffset);
          var textPrecedingSelection = precedingRange.toString();
          var wordIndex = textPrecedingSelection.split("\n").length;
          document.getElementById('id_truebtn').onclick = function(){
              var variable = document.getElementById("confirm_input").value;
              if (variable != "") {
              document.getElementById('id_confrmdiv').style.display="none";
              document.getElementById('id_confrmdiv1').style.display="block";
              document.getElementById('id_truebtn1').onclick = function(){
                console.log(wordIndex);
                console.log(selectedText);
                console.log(variable);
                console.log("yes");
                socket.emit("variable_change", { data: selectedText, variable: variable,  row: wordIndex, all:"yes"})
                document.getElementById('id_confrmdiv1').style.display="none";
              };
              document.getElementById('id_falsebtn1').onclick = function(){
                console.log(wordIndex);
                console.log(selectedText);
                console.log(variable);
                console.log("no");
                socket.emit("variable_change", { data: selectedText, variable: variable,  row: wordIndex, all:"no"})
                document.getElementById('id_confrmdiv1').style.display="none";
              };
              }
              else {
                document.getElementById('id_confrmdiv').style.display="none";
                error = '<span class="red-warning">Error:</span> Variable can\'t be blank'
                $('#variable_status').html(error);
              }
          };
          document.getElementById('id_falsebtn').onclick = function(){
               document.getElementById('id_confrmdiv').style.display="none";
          };
        }
      }
      function myFunctionDelete() {
        var div = document.getElementById("output");
        selectedText = window.getSelection().toString();
        if (selectedText == "") {
          error = '<span class="red-warning">Error:</span> Please highlight a variable'
          $('#variable_status').html(error);
        }
        else {
          document.getElementById('id_confrmdiv2').style.display="block";
          sel = window.getSelection();
          var range = sel.getRangeAt(0);
          var precedingRange = document.createRange();
          precedingRange.setStartBefore(div.firstChild);
          precedingRange.setEnd(range.startContainer, range.startOffset);
          var textPrecedingSelection = precedingRange.toString();
          var wordIndex = textPrecedingSelection.split("\n").length;
          document.getElementById('id_truebtn2').onclick = function(){
            console.log(wordIndex);
            console.log(selectedText);
            console.log("yes");
            socket.emit("variable_undo", { data: selectedText, row: wordIndex, all:"yes"})
            document.getElementById('id_confrmdiv2').style.display="none";
          }
          document.getElementById('id_falsebtn2').onclick = function(){
            console.log(wordIndex);
            console.log(selectedText);
            console.log("no");
            socket.emit("variable_undo", { data: selectedText, row: wordIndex, all:"no"})
            document.getElementById('id_confrmdiv2').style.display="none";
          }
        }
      }
  </script>
</head>
<body>
  <header class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="../static/img/prisma-sd-wan.jpeg" alt="Prisma SD-WAN" />SD-WAN DevOps
    </div>
    <ul class="navbar__navigation">
      <li class="navbar__navigation-item">
        <div class="dropdown">
          <a class="navbar__link">Home</a>
          <div class="dropdown-content">
            <a href="home">Home</a>
            <a href="token-help">Token Help</a>
            <a href="custom-tools">Custom Tools</a>
          </div>
        </div>
      </li>
      <li class="navbar__navigation-item">
      <div class="dropdown">
        <a class="navbar__active">Deploy</a>
        <div class="dropdown-content">
          <a href="make">Make</a>
          <a href="update">Update</a>
          <a href="build">Build</a>
          <a href="deploy">Deploy</a>
          <a href="delete">Delete</a>
          <a href="backup">Backup</a>
        </div>
      </div>
      </li>
      <li class="navbar__navigation-item">
      <div class="dropdown">
        <a class="navbar__link">Tools</a>
        <div class="dropdown-content">
          <a href="lqm-all-apps">LQM All Apps</a>
          <a href="vpnmesh">VPN Mesh</a>
        </div>
      </div>
      </li>
      <li class="navbar__navigation-item">
        <a href="profile" class="navbar__link">Profile</a>
      </li>
    </ul>
  </header>
  <main class="main">
    <div class="flex-container">
      <div class="flex-child-left">
        <h3>Update</h3>
        {% if make == "pull" %}
        <p class="card">Please select your CSV Database and Jinja File to update. Be careful to select the right combination that go together.</p>
        {% if message %}
          {% if error %}
            <p class="red-warning">{{ message }}</p>
            {% else %}
            <p class="green-warning">{{ message }}</p>
            {% endif %}
        {% endif %}
        <div>
          <h4>Upload CSV or Jinja</h4>
          <form action="/update" method="post" enctype="multipart/form-data">
          <div>
            <input type="file" name="file">
          </div>
            <button type="submit_deploy" class="form__submit" data-inline="true" name="upload">Upload</button>
          </form>
        </div>
          <h4>Choose CSV Database and Jinja File</h4>
          <form action="/update" method="post" enctype="multipart/form-data">
          <div class=input>
              <label class="input_label_build">CSV Name:</label>
  	          <select class="list_build" name="csv_list">
                {% for item in csv_list %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
  	           </select>
          </div>
          <div class=input>
              <label class="input_label_build">Jinja Name:</label>
  	          <select class="list_build" name="jinja_list">
                {% for item in jinja_list %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
  	           </select>
          </div>
            <button type="submit_deploy" class="form__submit" data-inline="true" name="choose">Choose</button>
          </form>
        {% elif make == "make" %}
        <div>
        <p class="card">Please highlight text to make or undo a variable</p>
          {% if message %}
            {% if error %}
              <p class="red-warning">{{ message }}</p>
              {% else %}
              <p class="green-warning">{{ message }}</p>
              {% endif %}
            {% endif %}
          <h4>Make CSV/Jinja</h4>
          <p id="variable_status"></p>
          <div class=input>
            <p class="card">Please highlight some text with your mouse on the Jinja file and click Make or Undo. When complete hit save files and then you can add site details to the CSV file and then use it with the Jinja as part of the site deployment tool.</p>
          </div>
          <div id="id_confrmdiv">
            <label>Provide a variable name with no spaces, dashes or { }</label>
            <div class="popup_message">
              <input id="confirm_input" name="description" class="user_input" type="text">
            </div>
            <button id="id_truebtn" class="popup__submit">Submit</button>
            <button id="id_falsebtn" class="popup__delete">Cancel</button>
          </div>
          <div id="id_confrmdiv1">
            <label>Apply this variable to all instance of highlighted text?</label>
            <button id="id_truebtn1" class="popup__submit">Yes</button>
            <button id="id_falsebtn1" class="popup__delete">No</button>
          </div>
          <div id="id_confrmdiv2">
            <label>Undo this variable to all instances?</label>
            <button id="id_truebtn2" class="popup__submit">Yes</button>
            <button id="id_falsebtn2" class="popup__delete">No</button>
          </div>
          <button class="form__submit" data-inline="true" onclick="myFunction()">Make</button>
          <button class="form__delete" data-inline="true" onclick="myFunctionDelete()">Undo</button>
        </div>
        <div>
          <h4>Save CSV and Jinja</h4>
          <form action="/update" method="post" enctype="multipart/form-data">
          <div class=input>
            <label class="input_label">CSV Name</label>
            <input class="user_input data" name="csv" required='required' type="text" value="{{ csv_name }}">
          </div>
          <div class=input>
            <label class="input_label">Jinja Name</label>
            <input class="user_input variable" name="jinja" required='required' type="text" value="{{ jinja_name }}">
          </div>
          <button type="submit" class="form__submit" data-inline="true" name="save">Save Files</button>
          </form>
        </div>
        {% else %}
        {% if message %}
          {% if error %}
            <p class="red-warning">{{ message }}</p>
            {% else %}
            <p class="green-warning">{{ message }}</p>
            {% endif %}
        {% endif %}
        <div>
          <h4>Download CSV and Jinja</h4>
          <form action="/update" method="post" enctype="multipart/form-data">
          <div>
          <input class="user_input variable" type="text" name="download" value="{{ csv_file }}" readonly>
          </div>
          <button type="submit" class="form__submit" data-inline="true" name="download">Download</button>
          </form>
          <form action="/make" method="post" enctype="multipart/form-data">
          <div>
          <input class="user_input variable" type="text" name="download" value="{{ jinja_file }}" readonly>
          </div>
          <button type="submit" class="form__submit" data-inline="true" name="download">Download</button>
          </form>
        </div>
        {% endif %}
      </div>
      <div class="flex-child-right">
        <h3>Jinja File</h3>
        <div class="make_window">
          <pre class="pre" id="output"></pre>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__content">
      <section class="left">
        <a class="footer__item" href="mailto:{{ support }}">Contact</a>
      </section>
      <section class="right">
        <div class="footer__column">
          <a class="footer__item" href="log_out">Log Out</a>
        </div>
      </section>
    </div>
  </footer>
</body>
</html>
