<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SD-WAN DevOps</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script>
  $(document).ready(function(){
      //connect to the socket server.
      socket = io.connect();

      socket.on('newmessage', function(msg) {
      console.log("Received number: " + msg.message);
      message = msg.message + '<br>'
      $('#output').append(message);
        });
      });
      function myFunction() {
        var ENABLE = document.getElementById("myonoffswitch");
        // Get the output text
        var div = document.getElementById("div");
        var div1 = document.getElementById("div1");
        // If the checkbox is checked, display the output text
        if (ENABLE.checked == true){div.style.display = "block"; div1.style.display = "none";}
        else {div.style.display = "none"; div1.style.display = "block";}
      }
  </script>
</head>
<body>
  <header class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="../static/img/prisma-sd-wan.jpeg" alt="Prisma SD-WAN" />SD-WAN DevOps
    </div>
    <ul class="navbar__navigation">
      <li class="navbar__navigation-item">
        <div class="dropdown">
          <a class="navbar__link">Home</a>
          <div class="dropdown-content">
            <a href="home">Home</a>
            <a href="token-help">Token Help</a>
            <a href="custom-tools">Custom Tools</a>
          </div>
        </div>
      </li>
      <li class="navbar__navigation-item">
      <div class="dropdown">
        <a class="navbar__link">Deploy</a>
        <div class="dropdown-content">
          <a href="make">Make</a>
          <a href="update">Update</a>
          <a href="build">Build</a>
          <a href="deploy">Deploy</a>
          <a href="delete">Delete</a>
          <a href="backup">Backup</a>
        </div>
      </div>
      </li>
      <li class="navbar__navigation-item">
      <div class="dropdown">
        <a class="navbar__active">Tools</a>
        <div class="dropdown-content">
          <a href="lqm-all-apps">LQM All Apps</a>
          <a href="vpnmesh">VPN Mesh</a>
        </div>
      </div>
      </li>
      <li class="navbar__navigation-item">
        <a href="profile" class="navbar__link">Profile</a>
      </li>
    </ul>
  </header>
  <main class="main">
    <div class="flex-container">
      <div class="flex-child-left">
        <h3>VPN Mesh</h3>
        {% if token_check %}
        <p class="card"><b>Token Check:</b> <span class="green-warning"> {{ token_check }} </span></p>
        {% else %}
        <p class="card"><b>Token Check:</b> <span class="red-warning"> {{ token_check }} </span></p>
        {% endif %}
        {% if tenant %}
        <p class="card"><b>Tenant Name:</b> {{ tenant }} </p>
        {% endif %}
        <p class="card">This tool can be used to create/delete a VPN mesh between sites. You can choose an optional domain and site name tag to limit the scope.</h4>
        <div>
          <h4>VPN Information</h4>
          {% if message %}
            {% if error %}
              <p class="red-warning">{{ message }}</p>
              {% else %}
              <p class="green-warning">{{ message }}</p>
              {% endif %}
          {% endif %}
          <form action="/vpnmesh" method="post" enctype="multipart/form-data">
            <div class=input>
              <label>Simulate</label>
              <input type="checkbox" name="simulate" checked>
            </div>
            <div class=input>
                <label class="input_label" for="tag">Site Tag</label>
    	          <select id="tag" name="tag">
                  <option value="All">All</option>
                  {% for item in site_tags %}
                  <option value="{{ item }}">{{ item }}</option>
                  {% endfor %}
    	           </select>
            </div>
          <div class=input>
              <label class="input_label" for="domain">Domain</label>
  	          <select id="domain" name="domain">
                <option value="All">All</option>
                {% for item in domains %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
  	           </select>
          </div>
          <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0" checked onclick="myFunction()">
            <label class="onoffswitch-label" for="myonoffswitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
          <div class=input id="div" style="display:block">
              <label class="input_label" for="publicwan">WAN Name</label>
  	          <select id="publicwan" name="publicwan" multiple size="3">
                <option value="All Public">All Public</option>
                {% for item in publicwan %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
  	           </select>
               <p class="card" style="font-size: 12px">Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
          </div>
          <div class=input id="div1" style="display:none">
              <label class="input_label" for="privatewan">WAN Name</label>
  	          <select id="privatewan" name="privatewan">
                {% for item in privatewan %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
  	           </select>
          </div>
            <button type="submit_deploy" class="form__submit" data-inline="true" name="deploy">Deploy</button>
            <button type="submit_deploy" class="form__delete" data-inline="true" name="delete">Delete</button>
          </form>
        </div>
      </div>
      <div class="flex-child-right">
        <h3>Console Output</h3>
        <div class="logging_window">
          <pre class="pre" id="output"></pre>
        </div>
          <form action="/vpnmesh" method="post">
          <div>
            <button type="submit" class="form__cancel_output" name="cancel">Cancel</button>
            <button type="submit" class="form__submit_output" name="download">Download Log</button>
          </div>
          <div>
          </div>
        </form>
      </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__content">
      <section class="left">
        <a class="footer__item" href="mailto:{{ support }}">Contact</a>
      </section>
      <section class="right">
        <div class="footer__column">
          <a class="footer__item" href="log_out">Log Out</a>
        </div>
      </section>
    </div>
  </footer>
</body>
</html>
